<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="POMMeetupAppTest3" parallel="tests" thread-count="2">
        <classes>
            <class name="TestScenarios.RegistrationPageTest">
                <methods>
                    <include name="TestUIRegistrationPage" />
                    <include name="TestFunctionalityRPageEmptyName" />
                    <include name="TestFunctionalityRegistrationValidInput" />
                </methods>
            </class>
            <class name="TestScenarios.WelcomePageTest">
                <methods>
                    <include name="TestWelcomePageUI" />
                    <include name="TestFunctionalityWelcomePage" />
                </methods>
            </class>
        </classes>
    </test>
</suite>